.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  color: #44576D;
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;

}
@media screen and (min-width:600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #768A96;
    border-radius: 10px;
    margin: 0.5rem;
    background: #AAC7D8;
  }
}
label, input{
  text-align: left;
  padding: 0.2rem 1;
}

input{
  margin: 0.5rem 0;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
button{
  border: none;
  background-color: #DEFBF6;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: #44576D;
}
.link-btn{
  background: none;
  text-decoration: underline;
}
